<hr>
<br>
<div class="text-center">
<button class="btn purple" id="installPWA" onclick="installPWA()">Install App</button>
</div>
<br>
<P class="center">Connect - <a href="{{ site.meta.facebook }}">Facebook</a> | <a href="{{ site.meta.instagram }}">instagram</a> | <a href="{{ site.meta.twitter }}">Twitter</a> <br> App is currently: <b class="page-status">online</b> - Last Build: {{ helpers.Buildtime() }}<br>Built using Eleventy static site generator - PWA Support.<br>&copy; {{ helpers.currentYear() }} - {{ site.meta.title }} </p>
<br>