<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="theme-color" content="#ffffff">
  <meta name="HandheldFriendly" content="True">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
  <meta name="apple-mobile-web-app-title" content="Tamil Status">

  {% if ignore %}
  <meta name="robots" content="noindex, nofollow"/>
  {% endif %}

  <title>{% if title %}{{ title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.meta.description }}{% endif %}">
  <link rel="canonical" href="{{ site.meta.siteUrl }}{{ page.url }}" />

  <meta property="og:site_name" content="{% if title %}{{ title }}{% else %}{{ site.meta.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.meta.title }}{% endif %}" />
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.meta.description }}{% endif %}" />
  <meta property="og:url" content="{{ site.meta.siteUrl }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.meta.siteUrl }}/sankavithai.png" />
  <meta property="article:publisher" content="{{ site.meta.facebook }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.meta.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.meta.description }}{% endif %}" />
  <meta name="twitter:url" content="{{ site.meta.siteUrl }}{{ page.url }}" />
  <meta name="twitter:image" content="{{ site.meta.siteUrl }}/sankavithai.png" />
  <meta name="twitter:site" content="{{ site.meta.twitteruser }}" />
  <meta name="twitter:creator" content="{{ site.meta.twitteruser }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <link rel="shortcut icon" href="{{ '/icons/Icon-48.png' | url }}" type="image/png">
  <!--<link rel="stylesheet" href="{{ '/css/main.css' | url }}" media="all">-->
  {% set css %}
  {% include "static/css/main.css" %}
  {% endset %}
  <style>
  {{ css | cssmin | safe }}
  </style>

  <link rel="apple-touch-icon" sizes="48x48" href="/icons/Icon-48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/Icon-72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="/icons/Icon-96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/Icon-144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/icons/Icon-192.png">
  <link rel="apple-touch-icon" sizes="256x256" href="/icons/Icon-256.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/icons/Icon-512.png">

 <link rel="sitemap" type="application/xml" href="/sitemap.xml"/>
 <link rel="alternate" type="application/rss+xml" title="{{ site.meta.title }}" href="/atom.xml" />
 <link rel="manifest" href="{{ '/manifest.json' | url }}">

</head>
<body>

  {% include 'components/navbar.njk' %}
  {{ content | safe }}
  {% include 'components/footer.njk' %}

{% set js %}
  {% include "static/js/bundle.js" %}
{% endset %}
<script>
{{ js | jsmin | safe }}
</script>
<script src="{{ '/js/flying-pages.min.js' | url }}" defer></script>
<script>
window.FPConfig = {
    delay: 0,
    ignoreKeywords: ["\/ghost", "\/ghost\/#", "\/p\/", "\/signup\/", "\/signin\/", "\/account\/", "#signout", "\/public\/members.js", "?action=signin", "?action=signup", "#", ".png", ".jpeg", ".jpg", ".gif", ".svg"],
    maxRPS: 3,
    hoverDelay: 50
};
</script>

{% if copykavithai %}
<script src="{{ '/js/clipboard.min.js' | url }}"></script>
<script>
new ClipboardJS('.btn');
if (document.getElementById("btncopy") != null) {
    document.getElementById("btncopy").addEventListener('click', e => {
        console.log('copied');
        document.getElementById("copied").innerHTML = '<p class="text-center">kavithai Copied</p>';
        setTimeout(() => {
        document.getElementById("copied").style.display = "none";
        }, 1000);
    })
}
</script>
{% endif %}

</body>
</html>